<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.customer.mapper.HipContractMapper">

    <resultMap type="HipContract" id="HipContractResult">
        <result property="contractId"    column="contract_id"    />
        <result property="contractNo"    column="contract_no"    />
        <result property="signAddress"    column="sign_address"    />
        <result property="supplier"    column="supplier"    />
        <result property="customerId"    column="customer_id"    />
        <result property="deliveryAddress"    column="delivery_address"    />
        <result property="status"    column="status"    />
        <result property="contractType"    column="contract_type"    />
        <result property="settlementType"    column="settlement_type"    />
        <result property="taxRate"    column="tax_rate"    />
        <result property="totalPrice"    column="total_price"    />
        <result property="remark"    column="remark"    />
        <result property="flowId"    column="flow_id"    />
        <result property="currentNode"    column="current_node"    />
        <result property="customerName"    column="customer_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <resultMap id="HipContractHipContractOrderResult" type="HipContract" extends="HipContractResult">
        <collection property="hipContractOrderList" notNullColumn="sub_contract_order_id" javaType="java.util.List" resultMap="HipContractOrderResult" />
    </resultMap>

    <resultMap type="HipContractOrder" id="HipContractOrderResult">
        <result property="contractOrderId"    column="sub_contract_order_id"    />
        <result property="createTime"    column="sub_create_time"    />
        <result property="prodctName"    column="sub_prodct_name"    />
        <result property="model"    column="sub_model"    />
        <result property="capacity"    column="sub_capacity"    />
        <result property="category"    column="sub_category"    />
        <result property="brand"    column="sub_brand"    />
        <result property="status"    column="sub_status"    />
        <result property="unitPrice"    column="sub_unit_price"    />
        <result property="quantity"    column="sub_quantity"    />
        <result property="amountMoney"    column="sub_amount_money"    />
        <result property="remarks"    column="sub_remarks"    />
        <result property="contractNo"    column="sub_contract_no"    />
    </resultMap>

    <sql id="selectHipContractVo">
        select contract_id, contract_no, sign_address, supplier, customer_id, delivery_address, status, contract_type, settlement_type, tax_rate, total_price, remark, flow_id, current_node, customer_name, create_time, create_by, update_by, update_time from hip_contract
    </sql>

    <!-- 获取待出库客户订单 -->
    <select id="getOrderByCustomerId" parameterType="String" resultMap="HipContractResult">
        <include refid="selectHipContractVo"/>
        <where>
            <if test="customerId != null  and customerId != ''"> and customer_id = #{customerId}</if>
        </where>
    </select>

    <select id="selectHipContractList" parameterType="HipContract" resultMap="HipContractResult">
        <include refid="selectHipContractVo"/>
        <where>
            <if test="contractNo != null  and contractNo != ''"> and contract_no = #{contractNo}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="contractType != null  and contractType != ''"> and contract_type = #{contractType}</if>
            <if test="settlementType != null  and settlementType != ''"> and settlement_type = #{settlementType}</if>
            <if test="flowId != null "> and flow_id = #{flowId}</if>
            <if test="customerName != null  and customerName != ''"> and customer_name like concat('%', #{customerName}, '%')</if>
        </where>
    </select>

    <select id="selectHipContractByContractId" parameterType="Integer" resultMap="HipContractHipContractOrderResult">
        select a.contract_id, a.contract_no, a.sign_address, a.supplier, a.customer_id, a.delivery_address, a.status, a.contract_type, a.settlement_type, a.tax_rate, a.total_price, a.remark, a.flow_id, a.current_node, a.customer_name, a.create_time, a.create_by, a.update_by, a.update_time,
 b.contract_order_id as sub_contract_order_id, b.create_time as sub_create_time, b.prodct_name as sub_prodct_name, b.model as sub_model, b.capacity as sub_capacity, b.category as sub_category, b.brand as sub_brand, b.status as sub_status, b.unit_price as sub_unit_price, b.quantity as sub_quantity, b.amount_money as sub_amount_money, b.remarks as sub_remarks, b.contract_no as sub_contract_no
        from hip_contract a
        left join hip_contract_order b on b.contract_no = a.contract_id
        where a.contract_id = #{contractId}
    </select>

    <insert id="insertHipContract" parameterType="HipContract" useGeneratedKeys="true" keyProperty="contractId">
        insert into hip_contract
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="contractNo != null">contract_no,</if>
            <if test="signAddress != null">sign_address,</if>
            <if test="supplier != null">supplier,</if>
            <if test="customerId != null">customer_id,</if>
            <if test="deliveryAddress != null">delivery_address,</if>
            <if test="status != null">status,</if>
            <if test="contractType != null">contract_type,</if>
            <if test="settlementType != null">settlement_type,</if>
            <if test="taxRate != null">tax_rate,</if>
            <if test="totalPrice != null">total_price,</if>
            <if test="remark != null">remark,</if>
            <if test="flowId != null">flow_id,</if>
            <if test="currentNode != null">current_node,</if>
            <if test="customerName != null">customer_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="contractNo != null">#{contractNo},</if>
            <if test="signAddress != null">#{signAddress},</if>
            <if test="supplier != null">#{supplier},</if>
            <if test="customerId != null">#{customerId},</if>
            <if test="deliveryAddress != null">#{deliveryAddress},</if>
            <if test="status != null">#{status},</if>
            <if test="contractType != null">#{contractType},</if>
            <if test="settlementType != null">#{settlementType},</if>
            <if test="taxRate != null">#{taxRate},</if>
            <if test="totalPrice != null">#{totalPrice},</if>
            <if test="remark != null">#{remark},</if>
            <if test="flowId != null">#{flowId},</if>
            <if test="currentNode != null">#{currentNode},</if>
            <if test="customerName != null">#{customerName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateHipContract" parameterType="HipContract">
        update hip_contract
        <trim prefix="SET" suffixOverrides=",">
            <if test="contractNo != null">contract_no = #{contractNo},</if>
            <if test="signAddress != null">sign_address = #{signAddress},</if>
            <if test="supplier != null">supplier = #{supplier},</if>
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="deliveryAddress != null">delivery_address = #{deliveryAddress},</if>
            <if test="status != null">status = #{status},</if>
            <if test="contractType != null">contract_type = #{contractType},</if>
            <if test="settlementType != null">settlement_type = #{settlementType},</if>
            <if test="taxRate != null">tax_rate = #{taxRate},</if>
            <if test="totalPrice != null">total_price = #{totalPrice},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="flowId != null">flow_id = #{flowId},</if>
            <if test="currentNode != null">current_node = #{currentNode},</if>
            <if test="customerName != null">customer_name = #{customerName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where contract_id = #{contractId}
    </update>

    <delete id="deleteHipContractByContractId" parameterType="Integer">
        delete from hip_contract where contract_id = #{contractId}
    </delete>

    <delete id="deleteHipContractByContractIds" parameterType="String">
        delete from hip_contract where contract_id in
        <foreach item="contractId" collection="array" open="(" separator="," close=")">
            #{contractId}
        </foreach>
    </delete>

    <delete id="deleteHipContractOrderByContractNos" parameterType="String">
        delete from hip_contract_order where contract_no in
        <foreach item="contractNo" collection="array" open="(" separator="," close=")">
            #{contractNo}
        </foreach>
    </delete>

    <delete id="deleteHipContractOrderByContractNo" parameterType="Integer">
        delete from hip_contract_order where contract_no = #{contractNo}
    </delete>

    <insert id="batchHipContractOrder">
        insert into hip_contract_order( contract_order_id, create_time, prodct_name, model, capacity, category, brand, status, unit_price, quantity, amount_money, remarks, contract_no, product_id) values
		<foreach item="item" index="index" collection="list" separator=",">
            ( #{item.contractOrderId}, #{item.createTime}, #{item.prodctName}, #{item.model}, #{item.capacity}, #{item.category}, #{item.brand}, #{item.status}, #{item.unitPrice}, #{item.quantity}, #{item.amountMoney}, #{item.remarks}, #{item.contractNo}, #{item.productId})
        </foreach>
    </insert>
</mapper>
